{% set items=["item 1","item 2","item 3"] %}
<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>
<h1>My Webpage</h1>

<ul id="items">
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

{% include 'inc/_myquote.inc.twig' with {"quote":"My words of wisdom"} %}


</body>
</html>